{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span4">
            <h3><i class="icon-group"></i> Meetings</h3>
            Vorrangig geht es darum, dass wir regelmäßige Treffen veranstalten.
            
            <h3><i class="icon-comments-alt"></i> Talks</h3>
            Ziel ist es bei jedem Usergroup Treffen mindestens einen Talk anbieten
            zu können.
            
            <h3><i class="icon-heart"></i> Community</h3>
            Gemeinsames besuchen von Events wie die <a href="http://live.symfony.com" target="_blank">Symfony Live Konferenz</a>.
        </div>
        <div class="span4">
            <h3><i class="icon-refresh"></i> OpenSource</h3>
            Gemeinsames Erarbeiten von Bundles und der Austausch von diesen. 
            
            <h3><i class="icon-road"></i> Symfony Austria</h3>
            Gemeinsam Symfony Austria weiterentwickeln und größer zu machen.
            
            <h3><i class="icon-book"></i> Resourcen</h3>
            Interessante Ressourcen rund um das Thema Symfony bzw. die Unterlagen
            der Talks.
        </div>
        <div class="span4">
            <h3><i class="icon-globe"></i> Positionierung</h3>
            Firmen die Möglichkeit zu geben, zu sehen wie Symfony in Österreich
            positioniert bzw. wie stark es vertreten ist. 
            
            <h3><i class="icon-flag"></i> Firmenverzeichnis<sup><i class="icon-asterisk"></i></sup></h3>
            Eine Liste von Firmen, die Symfony im Einsatz haben. <br><br>
            
            <h3><i class="icon-search"></i> Projektverzeichnis<sup><i class="icon-asterisk"></i></sup></h3>
            Liste von Symfony Projekten, die mit Symfony umgesetzt wurden,
            wenn möglich mit Kundennennung.
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <i class="icon-asterisk"></i> in development
         </div>
    </div>
{% endblock %}

